<!-- views/binView.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RekwestBïn</title>
    <link rel="stylesheet" href="../styles.css">
  </head>
  <body>
    <h1>Your endpoint is:</h1>
    <h3> https://rekwestbin.com/<%= binId %>/receiver</h3>
    <div class="button-container">
      <button id="copyURLButton" class="copyURLButton">Copy URL</button>
    </div>
    <ul>
      <% requests.forEach(request => { %>
      <li>
        <p class="payload-data">
          <strong>Date:</strong> <%= new Date(request._id.getTimestamp()).toLocaleString("en-US", {"timeZoneName":"short"}) %>
        </p>
        <p class="payload-data">
          <strong>Method:</strong> <%= JSON.stringify(request.method) %>
        </p>
        <p class="payload-data"><strong>Payload:</strong>
          <div class="border">
            </p><code> <%= JSON.stringify(request.payload) %></code>
          </div>
      </li>
      <% }); %>
    </ul>

    <script>
      document.getElementById("copyURLButton").addEventListener("click", function() {
        var urlToCopy = "https://rekwestbin.com/<%= binId %>/receiver";
        var textArea = document.createElement("textarea");
        textArea.value = urlToCopy;
        document.body.appendChild(textArea);
        textArea.select();
        document.execCommand("copy");
        document.body.removeChild(textArea);
        alert("URL copied to clipboard: " + urlToCopy);
      });
    </script>
  </body>
</html>